Flask==2.3.2
gunicorn==20.1.0
yfinance
pandas
numpy
matplotlib
scipy<2.3.0
# pandas-ta==0.4.71b0
# pandas-ta==0.4.3b0
uvicorn[standard]==0.23.2
fastapi==0.103.1
alpaca-trade-api==2.3.0
# pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git
aiohttp==3.8.1
pandas-ta==2.3.4