Flask==2.3.2
gunicorn==20.1.0
yfinance
pandas
numpy
matplotlib
scipy<2.3.0
uvicorn==0.23.2
fastapi==0.103.1
alpaca-trade-api==2.3.0
pandas-ta @ git+https://github.com/0xAVX/pandas-ta.git
aiohttp>=3.8.1
PyYAML
# pandas-ta==0.3.14b0
# setuptools>=65.5.0
# wheel>=0.40.0
# pandas-ta==0.4.71b0
# pandas-ta==0.4.3b0
# fastapi==0.104.1
fastapi-users[sqlalchemy]==12.1.2
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
authlib==1.2.1
itsdangerous==2.1.2
sqlalchemy==2.0.23
# uvicorn[standard]==0.24.0
jinja2==3.1.2
python-dotenv==1.0.0
PyJWT==2.8.0
httpx